In [1]:
CREATE DATABASE assignment_dbase

In [2]:
use assignment_dbase

In [4]:
CREATE TABLE author_details (
    authorid VARCHAR(10) PRIMARY KEY ,
    name VARCHAR(255),
    bio TEXT,
);

In [5]:
INSERT into author_details VALUES('amish','Amish','Wrote the Scion of ikshvaku'),
                                             ('c_b','Chetan Bhagat','Wrote many fictional stories'),
                                             ('j_a','Jeffrey Archer','Wrote 2 books present in database'),
                                             ('jk','JK Rowlings','Wrote 7 parts of Harry Potter'),
                                             ('j_g','John Grisham','Wrote 1 book'),
                                             ('r_s_d','Ramdhari Singh Dinkar','Wrote 2 books recorded in database'),
                                             ('v_d_m','Vivek Dutta Mishra','Wrote 2 books');

In [7]:
CREATE TABLE book_details (
    bookid VARCHAR(50) PRIMARY KEY,
    title VARCHAR(255),
    details TEXT,
    authorid VARCHAR(10) FOREIGN KEY (authorid) REFERENCES author_details(authorid)
);

In [8]:
INSERT  

    INTO  

        book_details 

    VALUES 

        ('kane-and-abel','Kane and Abel','A book by jeffrey archer','j_a'),
         
        ('rashmirathi','Rashmirathi','A book by Ramdhari sing dinkar','r_s_d'), 

        ('sons-of-fortune','Sons of Fortune','A book by jeffrey archer','j_a'), 

        ('manas','Manas','A book by Vivek dutta mishra','v_d_m'), 

        ('summons','Summons','A book by John Grisham','j_g'), 

        ('five-point-someone','Five Point SomeOne','A book by Ramdhari sing dinkar','r_s_d'), 

        ('scion-of-ikshavaku','The Scion of Ikshavaku','A book by Amish','amish'), 

        ('the-accursed-god','The Accursed God','A book by Vivek dutta mishra','v_d_m');

In [9]:
CREATE TABLE user_details (
    userid INT PRIMARY KEY,
    username VARCHAR(255),
    password VARCHAR(255)
);

In [10]:
INSERT  

    INTO  

        user_details  

    VALUES 

        
        (1,'MRD','MRD@333'),
        (2,'SSG','SSGSTAR'),
        (3,'RAJU','RAJUJAGGU1253');

In [12]:
CREATE TABLE rev_details (
    reviewid INT ,
    bookid VARCHAR(50) FOREIGN KEY (bookid) REFERENCES book_details(bookid),
    userid INT FOREIGN KEY (userid) REFERENCES user_details(userid),
    rating INT,
    review_text TEXT
);

In [14]:
INSERT INTO  
    rev_details
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book'),
         
    (2,'rashmirathi',2,3.5,'Good book'), 

    (3,'sons-of-fortune',3,4.5,'Thoughtfull'), 

    (4,'manas',1,4.7,'Good Book'), 

    (5,'summons',2,3.9,'Amazing'), 

    (6,'five-point-someone',3,3,'Great work'), 

    (7,'scion-of-ikshavaku',1,3.8,'Nice creativity'), 

    (8,'the-accursed-god',2,4.2,'Nice');

In [15]:
INSERT INTO  
    rev_details
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book');

In [16]:
SELECT * from author_details

authorid,name,bio
amish,Amish,Wrote the Scion of ikshvaku
c_b,Chetan Bhagat,Wrote many fictional stories
j_a,Jeffrey Archer,Wrote 2 books present in database
j_g,John Grisham,Wrote 1 book
jk,JK Rowlings,Wrote 7 parts of Harry Potter
r_s_d,Ramdhari Singh Dinkar,Wrote 2 books recorded in database
v_d_m,Vivek Dutta Mishra,Wrote 2 books

In [17]:
select * from user_details

userid,username,password
1,MRD,MRD@333
2,SSG,SSGSTAR
3,RAJU,RAJUJAGGU1253

In [18]:
SELECT * FROM book_details

bookid,title,details,authorid
five-point-someone,Five Point SomeOne,A book by Ramdhari sing dinkar,r_s_d
kane-and-abel,Kane and Abel,A book by jeffrey archer,j_a
manas,Manas,A book by Vivek dutta mishra,v_d_m
rashmirathi,Rashmirathi,A book by Ramdhari sing dinkar,r_s_d
scion-of-ikshavaku,The Scion of Ikshavaku,A book by Amish,amish
sons-of-fortune,Sons of Fortune,A book by jeffrey archer,j_a
summons,Summons,A book by John Grisham,j_g
the-accursed-god,The Accursed God,A book by Vivek dutta mishra,v_d_m

In [19]:
SELECT * FROM rev_details

reviewid,bookid,userid,rating,review_text
1,kane-and-abel,1,4,Nice Book
2,rashmirathi,2,3,Good book
3,sons-of-fortune,3,4,Thoughtfull
4,manas,1,4,Good Book
5,summons,2,3,Amazing
6,five-point-someone,3,3,Great work
7,scion-of-ikshavaku,1,3,Nice creativity
8,the-accursed-god,2,4,Nice
1,kane-and-abel,1,4,Nice Book

In [20]:
SELECT B.title, R.rating, R.review_text
FROM rev_details R
JOIN book_details B ON R.bookid = B.bookid
WHERE B.authorid = 'amish';

title,rating,review_text
The Scion of Ikshavaku,3,Nice creativity

In [25]:
SELECT B.title,B.details, R.rating, R.review_text 
                      FROM rev_details R
                      JOIN book_details B ON R.bookid = B.bookid
                      WHERE R.reviewid = 1;

title,details,rating,review_text
Kane and Abel,A book by jeffrey archer,4,Nice Book
Kane and Abel,A book by jeffrey archer,4,Nice Book

In [26]:
SELECT R.userid,B.title, R.rating, R.review_text
FROM rev_details R
JOIN book_Details B ON R.bookid = B.bookid
WHERE R.userid = 1;

userid,title,rating,review_text
1,Kane and Abel,4,Nice Book
1,Manas,4,Good Book
1,The Scion of Ikshavaku,3,Nice creativity
1,Kane and Abel,4,Nice Book